:root {
    --primary-font: "Roboto",
        sans-serif;
    --primary-color: #434455;
    --primary-background-color: #FFFFFF;
    --logo-first-color: #4d5ae5;
    --logo-second-color: #2e2f42;
    --address-color: #434455;
    --section-background-color: #2e2f42;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800; 
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-first-color);
}
.link {
    text-decoration: none;

}
.header-second-logo {
    color: var(--logo-second-color);

}
.header-bar {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-second-color);
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.header-address {
    font-style: normal;
}
.header-address-list {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--address-color);

}
.list {
    list-style: none;
}
.hero-section {
    background-color: 
}
.hero-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.bttn-hero {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.bttn-hero:hover,
.bttn-hero:focus {
    background-color: #404BBF;
}
.features-heading {

}