:root {
    --body-color: #434455;
    --fist-logo-color: #4d5ae5;
    --second-logo-color: #2e2f42;
    --address-color: #434455;
    --button-collor: #4d5ae5;
    --button-background-color: #F4F4FD;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
}
.link {
    text-decoration: none;

}
.list {
    list-style: none;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fist-logo-color);
} 
.header-bar {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-logo-color);
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.header-address {
    font-style: normal;
}
.header-second-logo {
    color: var(--second-logo-color);
}
.header-address-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-color);

}
.bttn-all {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--button-collor);
    background-color: var(--button-background-color);
}
.bttn-all:hover,
.bttn-all:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
}
.image-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-logo-color);
}
.image-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}
.footer-item {
    background-color: var(--second-logo-color);
}
.header-span-logo {
    color: var(--second-logo-color);
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}